# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Esbuild
.esbuild

# IDEA
.idea
.vscode
.fleet

.Trashes

# Secrets
.secrets.json


# Tmuxinator
.tmuxinator.yml
.env
.env.*
!.env.example
